.main-body {
  background: var(--bs-white);
}

.parent {
  margin: auto;
  max-width: 90%;
  margin-top: 20px;
}

.intro-image {
  max-width: 90%;
  margin: auto;
  display: block;
  filter: blur(3px);
}

model-viewer {
  width: 100%;
  height: 500px;
  display: block;
  margin: auto;
}

.3d-container {
  margin: auto;
  display: block;
}

.main-content {
  margin-top: 10px;
  background-color: rgb(251,251,243);
  box-shadow: 1px 10px 10px 10px #bebebe;
}

.teflon-compound-image {
  width: 50%;
  margin: auto;
  display: block;
  margin-top: 80px;
}

.figure-label {
  margin: auto;
  text-align: center;
  font-size: 8px;
}

.teflon-diagram {
  width: 60%;
  margin: auto;
  display: block;
}

.references {
  word-wrap: break-word;
}

.in-text-reference {
  color: blue;
}

